###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################

######################
# Organization vitals
######################
#apiKey=
#productToken=
#projectName=
wss.url=https://saas.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
includes=**/*.java **/*.xml **/*.class
excludes=**/*.md **/*.txt **/*.gitignore **/*.yaml **/*.tpl **/*.helmignore **/*.config
case.sensitive.glob=false
followSymbolicLinks=true
